@{ 
    ViewBag.Title = "Hakkımızda";
}
<div class="wrap">
    <ul class="breadcrumb breadcrumb__t"><a class="home" href="@Url.Action("Index","Home")">Ana Sayfa</a>  / Hakkımızda</ul>
    <div class="section group">

        <div class="row">
            <div class="col-sm">
                <img src="~/Content/images/logo.png" style="width:50%;" alt="logo" />
                <br /><br />
                <h3>Biz Kimiz?</h3>
                <p>Northwind Shop, 2021 yılının Haziran ayında Tarık Aydın tarafından geliştirilmiş olup, Northwind veritabanını kullanan bir E-Ticaret sitesidir. Sayfadaki içeriklerin doğruluk payı yoktur.</p>
                <p>Northwind Shop is an E-commerce site that uses the Northwind database. Developed by Tarık Aydın in June, 2021. The content on the page has no accuracy.</p>
                <p>İletişim Adresi: <a href="mailto:tarikayydin1846@gmail.com">tarikayydin1846@gmail.com</a></p>
                <div class="social-media" style="float:right;">
                    <ul>
                        <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="Google"><a href="https://www.google.com/" target="_blank"> </a></span></li>
                        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Linked in"><a href="https://www.linkedin.com/in/tar%C4%B1k-ayd%C4%B1n-1083a6212/" target="_blank"> </a> </span></li>
                        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="GitHub"><a href="https://github.com/trkaydn" target="_blank"> </a></span></li>
                        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Facebook"><a href="https://www.facebook.com/tarik1846/" target="_blank"> </a></span></li>
                    </ul>
                </div>
                <img src="~/Content/images/map.jpg" alt="map"/>
                <p style="text-align:right;">Haziran,2021 - Ankara</p>
            </div>
            <div class="col-sm">
                <img src="~/Content/images/trkaydn.jpg" style="width:70%;height:auto;float:right;" alt="TarikAydin" />
            </div>
        </div>
        <br />
        <div class="clear"></div>
    </div>
</div>